.add-annonce-button {
    position: absolute;
    top: 5%;
    right: 1%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
   }
   
   .add-annonce-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
   .register-modal {
    width: 500px;

    margin-top: 100px;  font-family: Arial, sans-serif;}
  
  .register-modal .modal-header {
    border-bottom: none;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
  }
  
  .register-modal .modal-header h3 {
    margin: 0;
  }
  
  .register-modal .modal-body {
    padding: 30px;
  }
  
  .register-modal .modal-body form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .register-modal .modal-body form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-modal .modal-body form .input-group-text {
    background-color:transparent;
    padding: 10px ;
    border: none;
    border-radius: 4px;
  }
  
  .register-modal .modal-body form .input-group-text:focus {
    box-shadow: none;
  }
  
  .register-modal .modal-body form .alert {
    margin: 10px 0;
  }
  
  .register-modal .modal-footer {
    border-top: none;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-end;
  }
  
  .register-modal .modal-footer button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .register-modal .modal-footer button:first-child {
    margin-right: 10px;
  }
  
  .register-modal .modal-footer button.secondary {
    background-color: #fff;
    color: #333;
  }
  
  .register-modal .modal-footer button.primary {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .register-modal .modal-footer button.primary:hover {
    background-color: #45a049;
  }
  
  .register-modal .modal-footer button.secondary:hover {
    background-color: #f2f2f2;
  }
   